<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Consulta{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>

<body>
  <a href="#" id="back-to-top" style="display: none;">
    <i class="fas fa-arrow-up"></i>
</a>
  <h1>Consulta</h1>
  <div id="loading" style="display: none;">
    <div class="loading-content">
      <div class="spinner"></div>
      <p>Carregando...</p>
    </div>

  </div>
  {% block content %}{% endblock %}
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
