{% extends "base.html" %}

{% block content %}
<div class="input-area">
  <div class="file-input-container">
    <label for="excelFileInput" class="file-input-label">Escolha arquivo Excel</label>
    <input type="file" id="excelFileInput" accept=".xlsx, .xls" hidden>
    <span id="excelFileName"><b>Selecione um arquivo excel</b></span>
  </div>
  <div class="search-label-container">
    <label for="searchInput">Pesquisa por <b>Matrícula</b> ou <b>Nome beneficiário</b>:</label>
  </div>
  <div class="search-input-container">
    <input type="text" id="searchInput" name="searchInput">
    <button onclick="searchData()">Pesquisar</button>
  </div>
</div>
<div class="table-container">
  <table id="resultsTable">
    <thead>
      <tr>
        <th>Código do Beneficiário</th>
        <th>Nome Beneficiário</th>
        <th>Código do Dependente</th>
        <th>Nome Dependente</th>
        <th>Matrícula</th>
        <th>Tipo</th>
        <th>Sexo</th>
        <th>Dt. Nascimento</th>
        <th>Idade</th>
        <th>Início Vigência</th>
        <th>Fim Vigência</th>
        <th>Plano</th>
      </tr>
    </thead>
    <tbody id="resultsBody">
    </tbody>
  </table>
</div>
{% endblock %}

